*{
    font-family: 'Courier New', Courier, monospace;

}

#card {
    flex: auto;
    align-items: center;
    text-align: center;
    font-size: 40px;
    border: none;
}

#card h1 {
    font-size: 20px;
    text-align: center;
}